::-webkit-scrollbar{
    
    cursor:grab;
    border-radius: 20px;
     height: 10px;
    width: 0rem;
}
::-webkit-scrollbar-thumb{
    cursor:grab;
    background-color: white;
    border-radius: 30px;
}   

h1{
    color: var(--body_color);
}

.descricao{
    
    height: 500px;
}

.desc1{
    color: var(--body_color);
    margin-top: -120px;
    font-size: 400%;
    height: auto;
    width: 60%;
    margin-left: 4%;
    margin-bottom: 20px;
    
}

.desc2{
    letter-spacing: 2px;
    line-height: 30px;
    color: var(--body_color);
    font-size: 150%;
    height: auto;
    width: auto;
    margin-left: 4%;
    margin-top: 30px;
    margin-bottom: 30%;
    padding-bottom: 5%;
    
}

.card1{
    padding-top: 15%;
    border-radius: 5px;
    margin-left: 3%;
    height: auto;
    width: 80%;
    
}









.divisao2{

    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    height: auto;
    background-position-x:-130px;
    background-position-y: 60px;
    background-size: 650px;
    background-repeat: no-repeat;
   
    
}

.card2{

    margin-top: 80px;
    margin-left: 9%;
    border-radius: 10px;
    height: 420px;
    width: 80%;
   
   
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
    background-color: rgb(255, 255, 255, 0.05);
    box-shadow: 10px 30px 20px  rgba(0, 0, 0, 0.2);
    animation: subirDescer 5s infinite alternate;

}
.entrar{
    
    text-align: center;
    width: 160px;
    margin-left: 15%;
    font-size: 20px;
    color: var(--body_color);
    border-radius: 20px;
    border-style: none;
    padding: 15px;
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
    background-color: rgb(255, 255, 255, 0.05);
    box-shadow: 10px 7px 10px  rgba(0, 0, 0, 0.4);


}

.entrar:hover{
    cursor: pointer;
    transition: 0.5s;
    transform: scale(0.75);

}
@keyframes subirDescer {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}

.desc3{
    
    color: var(--body_color);
    padding-top: 8%;
    font-size: 30px;
    margin-left: 15%;
    margin-top: 5%;
    width: 70%;
    height: auto;
    
    
}

.desc4{
    
    letter-spacing: 1px;
    width: 70%;
    height: 110px;
    font-size: 110%;
    margin-left: 15%;
    margin-top: 2%;
    color: var(--body_color);
    margin-bottom: 2%;
    
    
}


.fundadores1{
    
    background-image: linear-gradient(
        45deg,
        #ffffff 16.666%, 
        #130068 16.666%,
        #A7489B 83.333%);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        


    width: 400px;
    margin-left: 40%;
    font-size: 50px;
    color: var(--body_color);
    margin-top: 300px;
    text-align: center;
}


.container{

    
    margin-top: 50px;
    margin-left: 15%;
    text-align: center;
    display: flex;
    overflow-x: scroll;
    padding: 0 0 5% 40%;
    width: 30%;
    height: 500px;
    scroll-snap-type:  x mandatory;
   
    gap: 12px;
    

}

.item1{
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
    background-color: rgb(255, 255, 255, 0.05);
    box-shadow: 10px 30px 20px  rgba(0, 0, 0, 0.2);
    text-align: center;
    flex: 0 0 100%;
    border-radius: 20px;
    scroll-snap-align: start;
   
    
}
.item2{
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
    background-color: rgb(255, 255, 255, 0.05);
    box-shadow: 10px 30px 20px  rgba(0, 0, 0, 0.2);
    text-align: center;
    flex: 0 0 100%;
    border-radius: 20px;
    scroll-snap-align: start;
   
    
}
.item3{
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
    background-color: rgb(255, 255, 255, 0.05);
    box-shadow: 10px 30px 20px  rgba(0, 0, 0, 0.2);
    text-align: center;
    flex: 0 0 100%;
    border-radius: 20px;
    scroll-snap-align: start;
   
    
}
.item4{
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
    background-color: rgb(255, 255, 255, 0.05);
    box-shadow: 10px 30px 20px  rgba(0, 0, 0, 0.2);
    text-align: center;
    flex: 0 0 100%;
    border-radius: 8px;
    scroll-snap-align: start;
   
    
}
.rodape{
    
    justify-content: center;
    text-align: center;
    color: var(--body_color);
    height: 50px;
    margin-top: 200px;
}



.sobre1{
    color: var(--body_color);
    width: 70%;
    height: 100px;
    margin-left: 15%;
    margin-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
    background-color: rgb(255, 255, 255, 0.05);
    box-shadow: 10px 7px 10px  rgba(0, 0, 0, 0.4);

}
.sobre2{
    color: var(--body_color);
    width: 70%;
    height: 100px;
    margin-left: 15%;
    margin-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
    background-color: rgb(255, 255, 255, 0.05);
    box-shadow: 10px 7px 10px  rgba(0, 0, 0, 0.4);

}
.sobre3{
    color: var(--body_color);
    width: 70%;
    height: 100px;
    margin-left: 15%;
    margin-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
    background-color: rgb(255, 255, 255, 0.05);
    box-shadow: 10px 7px 10px  rgba(0, 0, 0, 0.4);
}
.sobre4{
    color: var(--body_color);
    width: 70%;
    height: 100px;
    margin-left: 15%;
    margin-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
    background-color: rgb(255, 255, 255, 0.05);
    box-shadow: 10px 7px 10px  rgba(0, 0, 0, 0.4);

}
.foto1{
    background-image: url('/src/pages/Home/imgs/jake.jpeg');
    background-position-x:-190px;
    background-position-y: -70px;
    background-size: 200px;
    width: 40%;
    height: 50%;
    margin-left: 30%;
    margin-top: 70px;
    border-radius: 10000px;
    box-shadow: 5px 10px 20px 2px rgba(0,0,0,0.6);
}

.foto2{
    background-image: url('/src/pages/Home/imgs/natan.jpg');
    
    background-position-x:-280px;
    background-position-y: 0px;
    background-size: 270px;
    width: 40%;
    height: 50%;
    margin-left: 30%;
    margin-top: 70px;
    border-radius: 10000px;
    box-shadow: 5px 10px 20px 2px rgba(0,0,0,0.6);
}
.foto3{
    background-image: url('/src/pages/Home/imgs/vitu.jpg');
    background-position-x:-280px;
    background-position-y: 0px;
    background-size: 270px;
    width: 40%;
    height: 50%;
    margin-left: 30%;
    margin-top: 70px;
    border-radius: 10000px;
    box-shadow: 5px 10px 20px 2px rgba(0,0,0,0.6);
}
.foto4{
    background-image: url('/src/pages/Home/imgs/ross.jpg');
    background-position-x:-280px;
    background-position-y: 0px;
    background-size: 270px;
    width: 40%;
    height: 50%;
    margin-left: 30%;
    margin-top: 70px;
    border-radius: 10000px;
    box-shadow: 5px 10px 20px 2px rgba(0,0,0,0.6);
}


.sobredesc{
    color: var(--body_color);
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

.discord1{
    
    width: 16%;
    height: auto;
    position: absolute;
    animation: subirDescer2 90s infinite alternate;
}

.testee{
    
    display: flex;
    margin-top: 70px;
    width: auto;
    height: auto;
    margin-bottom: 300px;
}


.card3{
    
    width: 900px;
    height: auto;
    margin-right: 70px;
    margin-left: 80px;
}
.desc5{

    background-image: linear-gradient(
        45deg,
        #ffffff 16.666%, 
        #130068 16.666%,
        #A7489B 83.333%);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 

    font-size: 50px;
    text-align: left;
    margin-bottom: 20px;
}

.desc6{
    font-size: 30px;
    color: var(--body_color);
    margin-bottom: 40px;
}

.pbotao{
    font-size: 30px;
    color: var(--body_color);
    text-align: center;
    padding: 20px;
    width: 300px;
    border-radius: 20px;
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
    background-color: rgb(255, 255, 255, 0.05);
    box-shadow: 10px 7px 30px  rgba(0, 0, 0, 0.4); 
}
.card4{
   
    background-image: url('/public/imgs/print1.PNG');
   width: 1000px;
   height: 500px;
   
   border-radius: 20px;
   margin-right: 40px;

   box-shadow: 10px 7px 10px  rgba(0, 0, 0, 0.4); 

}





.pbotao:hover{

    cursor: pointer;
    transition: 0.5s;
    transform: scale(0.75);

}

@keyframes subirDescer2 {
    0% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(-50%);
    }
}

.pprivacidade{
    margin-bottom: 20px;
}


@media (max-width: 1300px){

    ::-webkit-scrollbar{
        cursor:grab;
        border-radius: 20px;
        height: 10px;
        width: 0rem;
    }
    ::-webkit-scrollbar-thumb{
        
    
        
    }   

    .desc1{

      

    }

    .desc2{

        
    }
    .item1{
       
    }
    .divisao2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   
    .divisao3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container{
        
        
        padding-right: 20px;
        width: 300px;
        margin-top: 50px;
        height: 500px;
        
    }

    .descricao{
        height: 500px;
    }
    .desc1{
        
        margin-top: -40px;
        margin-bottom: 20px;
    }

    .desc2{
        font-size: 15px;
    }

    
    .desc4{
        
        line-height: 15px;
        font-size: 12px;
    }



   
}
