

.tudosobre{
    color: var(--alter_text);
    display: flex;
    justify-content: center;
    height: auto;
    
    
}

.cardsobre{
    margin-bottom: 20px;
    margin-top: 70px;
    width: 60%;
    height: auto;
    justify-content: center;
    background: rgba(0, 0, 0, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
    padding: 30px;
}

.h1sobre{
    text-align: start;
    
}
.psobre{
    color: var(--miudas);
    letter-spacing: 3px;
    line-height: 20px;
    margin-top: 20px;
    text-align: start;
}

.h1executivos{
    margin-top: 50px;
    text-align: start;
}

.pexecutivos{

    color: var(--miudas);
    letter-spacing: 3px;
    line-height: 20px;
    margin-top: 20px;
    text-align: start;
}

.h1dev{
    margin-top: 50px;
    text-align: start;
}

.pdev{
    color: var(--miudas);
    letter-spacing: 3px;
    line-height: 20px;
    margin-top: 20px;
    text-align: start;
}
